
@media only screen and (max-width : 1024px) {
    .fixed-page {
        height: calc(100vh - 220px);
    }
    .alj-navbar .navbar .nav-link{
        font-size: 14px;
    }

}

@media screen and (max-width: 1024px) and (max-height: 600px) { 
    .stories-page, .journey-page{height: calc(100vh - 100px);}
}


@media only screen and (max-width : 991px) {
 

   
    
    .header-logo .logo{
        max-width: 220px;
        
    }
    .landing-page .jameel-logo-top img {
    margin: 15px 0;
    }
    
    .landing-page .text img{
        max-width:15px;
        margin: 0 15px;
    }
    
       .language {
    margin-left: 25px;
}
    
    
 
    .language .globe{
        display: none;
    }
    
    .navbar-toggler{
            border: 0;
    margin-top: -30px;
    position: relative;
    top: -20px;
    left: 0;
        outline: none;
         outline: 0;
        box-shadow: none;
    }
    .navbar-toggler .burger-menu{
        
        max-width: 25px;
    }
    
    .landing-page .text{
        margin: 25px 0;
    }
    .landing-page .text p{
        font-size: 12px;
    }
    
    
    .footer{
        padding-bottom: 15px;
    }
    
        .footer .navbar-nav .nav-link {
    font-size: 12px;
}
    
    

}

@media only screen and (max-width : 768px) {
    
    .stories-section.on{
       left: 50%;
    transform: translate(-50%, -50%);
}
    
    .detail-header,
    .detail-footer{
        padding: 0;
        background: #fff;
    }
    

    .stories-detail-section{
        width: 100%;
        right: -100%;
        padding: 0 15px;
    }
    
.show-title.on,
.show-search.on,
.show-search{
    display: block;
}

    .search-wrapper{
        margin-top: -40px;
    }

    .show-title{
        margin-top: -10px;
    }
    
    .journey-page{
        height: calc(100vh - 235px);
        overflow: hidden;
    }
    
    .timeline-col{
        width: 100%;
        padding-right: 15px;
    }
    
    
    .globe-col,
    .detail-col{
        position: absolute;
        right: -100%;
        background: #fff;
            transition: all 0.5s ease;
        z-index: 9;
        padding:0 15px;
        height: 100%;
        width: 100%;
        
    }
    
      .globe-col.on,
    .detail-col.on{
        right: 0;
    }
    
    .globe-col.on{
        height: 100%;
        width: 100%;
        
    }

    .journey{
        height: 100vh;
    }


    .header-logo{
        /* position: fixed;
        z-index: 9;
        width: 100%; */

    }
    

    .footer{
        position: fixed;
        bottom: -100px;
    }
    .year-col{
            width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 9;
    background: #fff;
    }
    .year-wrapper {
    height: 50px;
        position: relative;

}
    
    
    .years-scroll{
        display: flex;
        height: 50px;
    width: calc(100% - 100px);
    overflow-x: scroll;
        margin: 0 auto;
    }
    
    .year-header,
    .year-footer{
        width: 50px;
        position: absolute;
        height: 50px;
        
        display: flex;
    align-items: center;
    justify-content: center;
        
    }
    
       .year-header img,
    .year-footer img{
        
              transform: rotate(270deg);
    }
    
    .year-header{
        left: 0;
        top: 0;
    }
    
    .year-footer{
        right: 0;
            top:0;
    }
    
    
    .years-list {
    border: 0;
    padding: 5px 10px;
    border-left: 1px solid #ccc;
    display: flex;
    align-items: center;
}
    
    
    .years-list.on{
        display: flex;
    }
    
    
    .year-text.on{

    margin: 0 15px;
    height: 25px;
    overflow: hidden;
    }


    .year-col{
        position: fixed;
        bottom: 100px;
    }
    
    
    
}
@media only screen and (max-width : 767px) {
     .fixed-page{
        height: auto;
    }
    
    .title span{
        width: 25px;
    }
    
    .title  h1{
        font-size: 25px;
    }
      .landing-page .text img{
        margin: 0 10px;
    }
    
    
    .stories-page.on{
/*        overflow: inherit;*/
    }
    

    .stories-section,
    .stories-section.on{
    position: relative;
        left: 0;
        top: 0;
        transform: translate(0, 0);
        margin: 85px auto;
    }
    
    .stories-section h4{
        font-size: 16px;
    }
/*
        .stories-detail-section{
        height: auto;
            z-index: 1;
    }
    
    .stories-scroll{
        height: 100%;
        overflow: auto;
    }
*/
    
  .journey-page{
        height: calc(100vh - 160px);
    }
    
    
    
    
    
    .years-scroll,
    .year-wrapper{
        height: 25px;
    }
    
    .years-scroll{
            width: calc(100% - 50px);
    }
    
    .year-header, .year-footer{
        width: 25px;
        height: 25px;
    }
    
    .year-header img, .year-footer img{
        width: 16px;
              transform: rotate(270deg);
    }
    
    .years-list {
    
        padding: 5px 20px;
    }
    

     .year-header img{
        
    }

    
    
    
    
    
    
    
    
}



@media only screen and (max-width : 380px) {
    .header-logo .logo {
    max-width: 190px;
}
    
    .header-logo .language-text {
    font-size: 12px;
}
    
    
    .footer p {
    font-size: 9px;
}
    
    .footer .navbar-nav .nav-link {
    font-size: 9px;
}
    
}
@media only screen and (max-width : 380px) {
.stories-section h3{
 font-size: 15px;   
}
}