@media only screen and (max-width : 991px) {
 

   
    
    .header-logo .logo{
        max-width: 220px;
        
    }
    .landing-page .jameel-logo-top img {
    margin: 15px 0;
    }
    
    .landing-page .text img{
        max-width:15px;
        margin: 0 15px;
    }
    
       .language {
    margin-left: 25px;
}
    
    
 
    .language .globe{
        display: none;
    }
    
    .navbar-toggler{
            border: 0;
    margin-top: -30px;
    position: relative;
    top: -20px;
    left: 0;
        outline: none;
         outline: 0;
        box-shadow: none;
    }
    .navbar-toggler .burger-menu{
        
        max-width: 25px;
    }
    
    .landing-page .text{
        margin: 25px 0;
    }
    .landing-page .text p{
        font-size: 12px;
    }
    
    
    .footer{
        padding-bottom: 15px;
    }
    
        .footer .navbar-nav .nav-link {
    font-size: 12px;
}
    
    

}

@media only screen and (max-width : 767px) {
     .fixed-page{
        height: auto;
    }
    
   
    
      .landing-page .text img{
        margin: 0 10px;
    }
    
}



@media only screen and (max-width : 380px) {
    .header-logo .logo {
    max-width: 190px;
}
    
    .header-logo .language-text {
    font-size: 12px;
}
    
    
    .footer p {
    font-size: 9px;
}
    
    .footer .navbar-nav .nav-link {
    font-size: 9px;
}
    
    
    
    
    
    
    
}
