  
          .stories-actions-wrapper,
      .stories-actions{
          width: 500px;
          height: 500px;
          position: relative;
          margin: 0 auto;
          
      }    
        

      
      .mask-75{
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          pointer-events: none;
          
      }  
      

      .box-story{
          width: 10%;
          height: 10%;
          background: #68889f;
          border: 1px solid #ccc;
          cursor: pointer;
          position: relative;
          opacity: 0;
           transition: opacity 0.5s; 
          
        
      }
      
      .box-story.show{
            opacity: 1;
      }
      

      
      
      
      .box-story:after{
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          background: #68889f;
          width: 100%;
          height: 100%;
          opacity: 0.8;
          -webkit-transition: all .2s ease-in-out;
    
      }
      .box-story:hover:after{
     opacity: 0;
      }
      
      
    .box-story .tooltiptext {
    visibility: hidden;
    background-color: #c5c1b8e0;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -95px;
    width: 200px;
    padding: 10px;
    margin: 0 auto;
    left: -60px;
            
            
  
}
      
    .box-story .tooltiptext:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    border: 20px solid;
    border-color: #c5c1b8e0 transparent transparent transparent;
    margin-top: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
           
}

      
      
      
      .box-story:hover .tooltiptext {
        visibility: visible;
      }
      .tooltiptext h4{
          margin: 0;
          padding: 0;
          font-size: 14px;
      }
      
      .tooltiptext p{
          margin: 0;
          padding: 0;
          font-size: 10px;
      }      
      
      .box-story img{
          width: 100%;
      }


      
      
      .img-8,
      .img-9,
      .img-10,
      .img-18,
      .img-19,
      .img-20,
      .img-31,
      .img-32,
      .img-31,
      .img-41,
      .img-46,
      .img-47,
      .img-48,
      .img-51,
      .img-60,
      .img-70,
      .img-75,
      .img-76,
      .img-80,
      .img-86,
      .img-87,
      .img-88,
      .img-89,
      .img-90,
      .img-97,
      .img-99{
         pointer-events: none; 
      }
  