body{
    font-family: 'karbon';
    font-weight: 300;
}


.header-logo{
    height: 69px;
    background-color: #404140;
    padding:0 15px;
    color: #fff;
}

.header-logo .logo{
    max-width: 297px;
}
.header-logo .globe{
    max-width: 18px;
}

.header-logo .language-text{
    margin-left: 10px;
}

.alj-navbar{
    background-color:#EDECE9; 
}

.alj-navbar .active{
    background-color: #D8D8D8;
}

.alj-navbar .navbar{
    padding-top: 0;
    padding-bottom: 0;
}

.alj-navbar .navbar .nav-link{
    padding-left: 25px;
    padding-right: 25px;
}


.footer{
    background-color:#EDECE9; 
}

.footer .social .icon{
    width: 100%;
    max-width: 15px;
    background: red;
    margin: 0 10px;
}